*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    
}
#valor{
        width: 400px;
        height: 50px;
    position: relative;
    left: 150px;
    
}
#value{
    width: 300px;
    height: 300px;
    border: 3px black solid;
    text-align: center;
    font-size: 200px;
    position: relative;
    left: 200px;

}
#cajita{
    width: 20px;
    height: 20px;
    border: 3px black solid;
    position: relative;
    bottom: -100px;
    left: 200px;
}